# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Logs
*.log

# temp files
*.tmp
*.asv

# specific files and dirs
cmake.tmp.*
phi-ubuntu
phi-rpi-phi
phi-rpi-phi-2
bin-debug
*/Old-Versions*/*
Cubify
datalog
FormLabs

# eclipse stuff
.project
.cproject
.settings

# third party dir
third-party
linux-image
GeoMagic/Parts/MCU/Atmel ATmega328/Atmel-8271-8-bit-AVR-Microcontroller-ATmega48A-48PA-88A-88PA-168A-168PA-328-328P_datasheet.pdf
PhantomX Hexapod III/
Docs/OLD - maybe delete/Wiring And Harnesses/Phi Wiring.docx
Docs/OLD - maybe delete/Wiring And Harnesses/Wiring & Harnesses.psd
